div.wrapper {
    width:402px; /* left_block + right_block + зазор */
    background-color:#ccc;
}
div.left_block {
    float:left;
    width:200px;
    outline: 2px solid #000;
}
div.right_block {
    float:right;
    width:200px;
    outline: 2px solid #000;
}
